<section class="slider_section">
    <div class="banner_main">
        <div class="container-fluid">
            <div class="contact">
                <div class="container-fluid padddd">
                    <div class="row">
                        <div class="col-md-8 offset-md-2">
                            <div class="title">
                                <br>
                                <h2>Admin <strong class="black">Products</strong></h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>    
</section>   
